.payment {
  /*min-height: 250px;*/
  background: var(--accent-color);
  border-radius: 10px;
  border: 1px solid #333;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

.payment h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.message {
  color: var(--secondary-color);
}

.seat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .6rem 1rem;
  box-sizing: border-box;
  border: 1px solid var(--accent-color);
  background: var(--primary-color);
  border-radius: .8rem;

}

.seat-item .seat-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .2rem;
  text-align: center;
  width: 70%;
}

.seat-item .seat-info .seat-type {
  color: var(--secondary-color);
  background: var(--primary-color);
  border: 1px solid var(--hover-color);
  padding: .4rem;
  border-radius: 8px;
  font-size: .8rem;
  box-sizing: border-box;

}

.price {
  font-weight: bold;
  font-size: 1.2rem;
}

.button {
  background: var(--screen-color);
  color: var(--accent-color);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: .6rem;
  cursor: pointer;
  box-sizing: border-box;

}


.btndisabled {
  opacity: .5;
  cursor: not-allowed;
}
