<main class="root-container">
  <div class="container">
    <ng-container *ngIf="(state$ | async)?.movie as movie">
      <div>
        <section class="movies-info">
          <h2 class="title">
            Select Your Seats
          </h2>
          <p class="subtitle">
            {{ movie.name }}
          </p>
          <div class="subtitle">
            <span> {{ "Screen " + movie.screen }}  </span>
            <div class="separator"></div>
            <span> {{ movie.time | date : "h:mm a" }} </span>
            <div class="separator"></div>
            <span> {{ movie.time | date : "EEE, MMM d" }} </span>
          </div>
        </section>
      </div>
    </ng-container>
  </div>

  <div class="container">
    <div class="booking-container">
      <div class="booking-grid">
        <div class="screen"></div>
        <p class="text-center screen-title">screen</p>
        <div class="empty"></div>
        <div class="flex">
          <div class="rows">
            <ng-container *ngFor="let row of rows ; let i = index;">
              <div class="row">{{ row }}</div>
            </ng-container>
          </div>
          <div class="seat-selector">
            <ng-container *ngFor="let seat of (state$ | async)?.seats; let i = index;">
              <div class="grid">
                <app-seat [seat]="seat" (selected)="onSelect($event)"></app-seat>
              </div>
            </ng-container>
          </div>
          <div class="rows">
            <ng-container *ngFor="let row of rows ; let i = index;">
              <div class="row">{{ row }}</div>
            </ng-container>
          </div>
        </div>

        <div class="legend">
          <ng-container *ngFor="let legend of legends">
            <app-legend [legend]="legend"></app-legend>
          </ng-container>
        </div>

      </div>

      <div class="booking-grid">
        <app-summary [seats]="(state$ | async)?.seats!"></app-summary>
      </div>
    </div>
  </div>
</main>
